#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1 {
  font-size: 3rem;
  color: navy;
}

#button {
  /* display: block; */
  /* margin-bottom: 10px; */
}

.addressHead {
  /* display: inline-block; */
  margin-bottom: 2px;
  /* margin-top: 10px; */
}

/* .addressHead::after {
  content: " ";
  padding: 5px 10px;
  background: #006a98;
  color: #006a98;
  border-radius: 50%;
  font-size: 7px;
} */

.status {
  visibility: hidden;;
  content: " ";
  padding: 5px 10px;
  background: #006a98;
  color: #ffffff;
  border-radius: 7px;
  font-size: 12px;
}

#address {
  margin: 5px 0;
}


